li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 100px;
    border: solid 2px #52489C;
    border-radius: 15px;
}
p {
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
}